<!DOCTYPE html>
<html>
	<head>
		<title>Drive API Quickstart</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<p>Drive API Quickstart</p>

		
		<button id="authorize_button" style="display: none">Authorize</button>
		<button id="signout_button" style="display: none">Sign Out</button>

		<pre id="content" style="white-space: pre-wrap"></pre>

		<script type="text/javascript">
			// Client ID and API key from the Developer Console
			var CLIENT_ID ="243179109290-q26cu8rvivj7d9c7hsappjavp690qgi3.apps.googleusercontent.com";
			var API_KEY = "AIzaSyCFbS7az5JSAQW_aiXSLE5prOeQHOVmWAQ";
			var SCOPES = 'https://www.googleapis.com/auth/drive.appdata';

		</script>

		<script async defer src="https://apis.google.com/js/api.js"></script>
	</body>
</html>
